HR Pro/Fusion/Fusion.Messages.SocialCare/xsd/funderChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Simon Papworth (Advanced Health & Care) -->
<xs:schema xmlns="http://advancedcomputersoftware.com/xml/fusion/socialCare" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:common="http://advancedcomputersoftware.com/xml/fusion" targetNamespace="http://advancedcomputersoftware.com/xml/fusion/socialCare" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://advancedcomputersoftware.com/xml/fusion" schemaLocation="commonTypes.xsd"/>
	<xs:element name="funderChange">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="funder" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="accountCode">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="SOUTHENDBC01"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="accountLookup" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="SOUTHENDBCC"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="costCenter">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="00"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="site">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Mayfair House"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="name">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Southend (In arrears)"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="addressLine1">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Dept. of Social Care"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="addressLine2">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="PO BOx 59"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="addressLine3">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Queensway House"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="addressLine4">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Southend"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="addressLine5">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Essex"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="postcode" nillable="true">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="SS2 5TB"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="phoneNumber" type="common:phoneNumber" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="01234 557321"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="emailAddress" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="nil"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="paymentMethod">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="OnAccount"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="paymentDays" type="xs:integer">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="0"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="sendDocumentsBy">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Post"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="accountOnHold" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="false"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="analysisCode" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="A07"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="accountGrouping" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="A"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="defaultNominalCode" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="nil"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="companyName" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Main company"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="multipleSUFunder" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="true"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>if the funder is not a private indervidual </xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="auditUserName">
							<xs:annotation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="s.papworth"/>
										<altova:example value="a.lines"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="recordStatus" type="common:recordStatusRescindable" use="required">
							<xs:annotation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="Active"/>
										<altova:example value="Active"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="effectiveFrom" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="2005-05-01"/>
										<altova:example value="2007-01-01"/>
									</altova:exampleValues>
								</xs:appinfo>
								<xs:documentation>Effective from date is the start of the day specified</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="effectiveTo" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="2007-01-01"/>
										<altova:example value="1900-01-01"/>
									</altova:exampleValues>
								</xs:appinfo>
								<xs:documentation>Effective to date is up to the end of the day specified</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:int" use="required">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="1"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="funderRef" type="common:guid" use="required">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="12345678-1234-1234-1111-000000000001"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
