Client Apps/Fusion/Fusion.Messages.SocialCare/xsd/careSysInvoiceLineInsert.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Simon Papworth (Advanced Health & Care) -->
<xs:schema xmlns="http://advancedcomputersoftware.com/xml/fusion/socialCare" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:common="http://advancedcomputersoftware.com/xml/fusion" targetNamespace="http://advancedcomputersoftware.com/xml/fusion/socialCare" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://advancedcomputersoftware.com/xml/fusion" schemaLocation="commonTypes.xsd"/>
	<xs:element name="careSysInvoiceLineInsert">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="invoiceLine">
					<xs:annotation>
						<xs:documentation>Daily records can never be deleted, and can not be changed execpt to void them</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="primarySite" nillable="true">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Mayfair House"/>
											<altova:example value="Mayfair House"/>
										</altova:exampleValues>
									</xs:appinfo>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="serviceUserRef" type="common:guid">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="12345678-1234-1234-1234-000000000001"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="fundingRef" type="common:guid" nillable="true">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="12345678-1234-1234-2222-000000000001"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="funderRef" type="common:guid" nillable="true">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="12345678-1234-1234-1111-000000000001"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="AccountCode">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="SOUTHENDBC01"/>
										</altova:exampleValues>
									</xs:appinfo>
									<xs:documentation>Debitor account code</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="nominalLedgerAccountCode">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="4000"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="room" nillable="true">
								<xs:annotation>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="description">
								<xs:annotation>
									<xs:documentation>Invoice line text</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Fees for period 30/05/2011 to 26/06/2011 inclusive at £274.25 per week"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VATAmount">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="20.000000"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="amount">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="1551.25"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DateFrom">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="2006-03-01"/>
										</altova:exampleValues>
									</xs:appinfo>
									<xs:documentation>Start date this change releated to</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:date"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DateTo" nillable="true">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="2006-11-03"/>
										</altova:exampleValues>
									</xs:appinfo>
									<xs:documentation>End date that this charge releaes to</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:date"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="typeOfCharge">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Contribution funder"/>
										</altova:exampleValues>
									</xs:appinfo>
									<xs:documentation>Common data list across systems as specified by Customer. The Service type this funding is for</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:enumeration value="None"/>
										<xs:enumeration value="Contribution funder"/>
										<xs:enumeration value="Client"/>
										<xs:enumeration value="Top up"/>
										<xs:enumeration value="Client extras"/>
										<xs:enumeration value="Free nursing care"/>
										<xs:enumeration value="Funder extras"/>
										<xs:enumeration value="Department of Work and Pensions"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="printOnInvoice" type="xs:boolean"/>
							<xs:element name="analysis1" nillable="true">
								<xs:annotation>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="001"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="analysis2" nillable="true">
								<xs:annotation>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="analysis3" nillable="true">
								<xs:annotation>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="analysis4" nillable="true">
								<xs:annotation>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="analysis5" nillable="true">
								<xs:annotation>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="analysis6" nillable="true">
								<xs:annotation>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="analysis7" nillable="true">
								<xs:annotation>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="analysis8" nillable="true">
								<xs:annotation>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="analysis9" nillable="true">
								<xs:annotation>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="analysis10" nillable="true">
								<xs:annotation>
									<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ratePeriod">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Day"/>
										</altova:exampleValues>
									</xs:appinfo>
									<xs:documentation>Weeks / Days / Hours / AdHoc </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
										<xs:enumeration value="AdHoc"/>
										<xs:enumeration value="Week"/>
										<xs:enumeration value="Day"/>
										<xs:enumeration value="Hour"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rate">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="80.00000"/>
										</altova:exampleValues>
									</xs:appinfo>
									<xs:documentation>The amount per day accross the date period this charge is</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:fractionDigits value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="quanity">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="19.00"/>
										</altova:exampleValues>
									</xs:appinfo>
									<xs:documentation>The number days / hours / or weeks this charge is for</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="summeriseOnInvoice" type="xs:boolean"/>
							<xs:element name="serviceType">
								<xs:annotation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Out Reach"/>
										</altova:exampleValues>
									</xs:appinfo>
									<xs:documentation>Common data list across systems as specified by Customer - this is the CareSys Product</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:int" use="required">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="1"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="auditUserName">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="s.papworth"/>
							<altova:example value="a.lines"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
