Client Apps/Fusion/Fusion.Messages.SocialCare/xsd/serviceUserChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Simon Papworth (Advanced Health & Care) -->
<xs:schema xmlns="http://advancedcomputersoftware.com/xml/fusion/socialCare" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:common="http://advancedcomputersoftware.com/xml/fusion" targetNamespace="http://advancedcomputersoftware.com/xml/fusion/socialCare" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://advancedcomputersoftware.com/xml/fusion" schemaLocation="commonTypes.xsd"/>
	<xs:element name="serviceUserChange">
		<xs:annotation>
			<xs:documentation>A service user change</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="serviceUser" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Can be many service user details, but they must then use the start/end date attributes, and they must not overlap</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title" nillable="true">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Mr"/>
														<altova:example value="Mr"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="forenames">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Dennis"/>
														<altova:example value="Dennis"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="surname">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Adkin"/>
														<altova:example value="Adkin"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DOB" type="xs:date">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="1922-12-30"/>
														<altova:example value="1922-12-30"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="gender" type="common:gender">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Male"/>
														<altova:example value="Male"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>										
										</xs:element>
										<xs:element name="serviceUserNumber" nillable="false" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Sole Source filed</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="primarySite" nillable="true">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Mayfair House"/>
														<altova:example value="Mayfair House"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="room" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="admissionDate" type="xs:date">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="2006-03-01"/>
														<altova:example value="2006-03-01"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="dischargeDate" type="xs:date" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="1900-01-01"/>
														<altova:example value="2006-11-03"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="serviceType">
											<xs:annotation>
												<xs:documentation>The primary type of service the service user will receive. Common data list across systems as specified by Customer</xs:documentation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Day Care"/>
														<altova:example value="Day Care"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="fundingType">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="HA"/>
														<altova:example value="HA"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="locationWithinFacility" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Main House"/>
														<altova:example value="Main House"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by Customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="companyName" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="Main company"/>
													</altova:exampleValues>
												</xs:appinfo>
												<xs:documentation>Common data list across systems as specified by customer</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="auditUserName">
							<xs:annotation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="s.papworth"/>
										<altova:example value="a.lines"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="recordStatus" type="common:recordStatusRescindable" use="required">
							<xs:annotation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="Active"/>
										<altova:example value="Active"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="effectiveFrom" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="2005-05-01"/>
										<altova:example value="2007-01-01"/>
									</altova:exampleValues>
								</xs:appinfo>
								<xs:documentation>Effective from date is the start of the day specified</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="effectiveTo" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="2007-01-01"/>
										<altova:example value="1900-01-01"/>
									</altova:exampleValues>
								</xs:appinfo>
								<xs:documentation>Effective to date is up to the end of the day specified</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:int" use="required">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="1"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="serviceUserRef" type="common:guid" use="required">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="12345678-1234-1234-1234-000000000001"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
